<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/department.css">
    <link rel="icon" href="/assets/TIEMP.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

</head>

<body>
    <!-- header -->
    <div id="topbar" class=" d-flex align-items-center " style="background-color:Darkblue; height:100px">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
            <div class="divTitle1"
                style="font-weight:bold; padding:10px 10px 10px 50px; color:#FFF; background-color:Darkblue;">
                TECHSCOPE INSTITUTE OF ENGINEERING AND MANAGEMENT - POLYTECHNIC
                <br />
                <div class="divTitle2" style="color:#F2A709; font-style:italic">LEADING TOWARDS A BRIGHT FUTURE</div>

                <div class="divTitle3">APPROVED BY AICTE <span style="color:#F2A709">||</span> AFFILIATED TO WBSCT &amp;
                    VE &amp; SD

                </div>
            </div>

        </div>

    </div>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">
            <a href="/layout/index.html" style="color:white;">
                <img src="/assets/TIEMP.png" height="50px">
                <p>TIEM-P</p>
            </a>
        </div>
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li class="services">Home
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/about-us.html">About</a>
                        </li>
                        <li>
                            <a href="/layout/authorities.html">Authorities</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Acadamic
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/department.html">Department</a>
                        </li>
                        <li>
                            <a href="/layout/faculty.html">Faculty</a>
                        </li>
                    </ul>
                </li>
                <li class="services">
                    Addimission
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/elegibelity.html">Eligibelity</a>
                        </li>
                        <li>
                            <a href="/layout/addimission-policy.html">Addimission Policy</a>
                        </li>
                        <li>
                            <a href="/layout/fee-structure.html">Fee Structure</a>
                        </li>
                        <li>
                            <a href="https://wbscc.wb.gov.in/">Student Credit Card</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Campus
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/libratories.html">Libratories</a>
                        </li>
                        <li>
                            <a href="/layout/workshop.html">Workshop</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Teanning & Placement
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/role-of-tpo.html">Role Of TPO</a>
                        </li>
                        <li>
                            <a href="/layout/internship.html">Internship</a>
                        </li>
                        <li>
                            <a href="/layout/campus-drive.html">Campus Drive</a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#contact-us">Contact us</a>
                </li> -->
                <!-- <li><a href="/">Contact</a></li> -->
            </div>
        </ul>
    </nav>
    <!-- header -->
    <!-- hero-section -->
    <div class="hero-section" data-aos="fade-up">
        <div class="hero-section-text">
            <h1>WELCOME TO TIEM-P</h1>
            <h5>Where Skills Meet Innovation: Forge Your Tech Legacy</h5>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
        offset: 200,
        duration: 800,
    });
    </script>
    <!-- hero-section -->
    <header data-aos="fade-up">
        <h1>Department</h1>
        <hr class="underln">
    </header>

    <div class="webinar-grid" data-aos="fade-up">


        <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi"
            class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
                <div class="webinar-image-container">
                    <img src="/assets/flipkart.png">
                </div>
                <h1 class="dundas-blue-text-long">
                    Visualizing R Advanced Analytics Results in Dundas BI
                </h1>
                <div class="webinar-content-box">
                    <p>We’ll show you how Dundas BI lets you use all of the existing data connections to inject data
                        into R and then visualize and interact with the results in Dundas BI so more people get faster
                        insights and make better decisions.</p>
                    <span class="dundas-blue-link">View webinar &gt;</span>
                </div>
            </div>
        </a>


        <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi"
            class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
                <div class="webinar-image-container">
                    <img src="/assets/flipkart.png">
                </div>
                <h1 class="dundas-blue-text-long">
                    Visualizing R Advanced Analytics Results in Dundas BI
                </h1>
                <div class="webinar-content-box">
                    <p>We’ll show you how Dundas BI lets you use all of the existing data connections to inject data
                        into R and then visualize and interact with the results in Dundas BI so more people get faster
                        insights and make better decisions.</p>
                    <span class="dundas-blue-link">View webinar &gt;</span>
                </div>
            </div>
        </a>

        <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi"
            class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
                <div class="webinar-image-container">
                    <img src="/assets/flipkart.png">
                </div>
                <h1 class="dundas-blue-text-long">
                    Visualizing R Advanced Analytics Results in Dundas BI
                </h1>
                <div class="webinar-content-box">
                    <p>We’ll show you how Dundas BI lets you use all of the existing data connections to inject data
                        into R and then visualize and interact with the results in Dundas BI so more people get faster
                        insights and make better decisions.</p>
                    <span class="dundas-blue-link">View webinar &gt;</span>
                </div>
            </div>
        </a>

        <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi"
            class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
                <div class="webinar-image-container">
                    <img src="/assets/flipkart.png">
                </div>
                <h1 class="dundas-blue-text-long">
                    Visualizing R Advanced Analytics Results in Dundas BI
                </h1>
                <div class="webinar-content-box">
                    <p>We’ll show you how Dundas BI lets you use all of the existing data connections to inject data
                        into R and then visualize and interact with the results in Dundas BI so more people get faster
                        insights and make better decisions.</p>
                    <span class="dundas-blue-link">View webinar &gt;</span>
                </div>
            </div>
        </a>

        <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi"
            class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
                <div class="webinar-image-container">
                    <img src="/assets/flipkart.png">
                </div>
                <h1 class="dundas-blue-text-long">
                    Visualizing R Advanced Analytics Results in Dundas BI
                </h1>
                <div class="webinar-content-box">
                    <p>We’ll show you how Dundas BI lets you use all of the existing data connections to inject data
                        into R and then visualize and interact with the results in Dundas BI so more people get faster
                        insights and make better decisions.</p>
                    <span class="dundas-blue-link">View webinar &gt;</span>
                </div>
            </div>
        </a>
    </div>
    <!-- footer -->
    <footer data-aos="fade-up">
        <div class="content">
            <div class="top">
                <div class="logo">
                    <a href="index.html" style="color:white;">
                        <img src="/assets/TIEMP.png" alt="" height="60px">
                        <p>TIEM-P</p>
                    </a>
                </div>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Address</li>
                    <li class="link_name">Abc Road, Near PQR Bhawan</li>
                    <li class="link_name">CITY:- Asansol</li>
                    <li class="link_name">DIST:- Paschim Burdwan</li>
                    <li class="link_name">STATE:- West Bengal</li>
                </ul>
                <ul class="box">
                    <li class="link_name">Quick Links</li>
                    <li><a href="layout/department.html">Department</a></li>
                    <li><a href="layout/faculty.html">Faculty</a></li>
                    <li><a href="layout/about-us.html">About Us</a></li>
                    <li><a href="layout/campus-drive.html">Campus Drive</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li class="link_name">PHONE NO:- <a href="#">1200-8080-000</a></li>
                    <li class="link_name">EMAIL:- <a href="#">tiemp123@gmail.com</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Other Quick Links</li>
                    <li><a href="layout/addimission-policy.html">Addimission Policy</a></li>
                    <li><a href="/layout/fee-structure.html">Fee Structure</a></li>
                    <li class="link_name">Helpline Number</li>
                    <li><a href="#">0124-90292</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name">Subscribe</li>
                    <li><input type="text" placeholder="Enter your email"></li>
                    <li><input type="button" value="Subscribe"></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright © 2021 <a href="#">CodingLab.</a>All rights
                    reserved</span>
                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script type="module" src="/script.js"></script>
</body>

</html>