<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/eligibelity.css">
    <link rel="icon" href="../assets/TIEMP.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

</head>

<body>
    <!-- header -->
    <div id="topbar" class=" d-flex align-items-center " style="background-color:Darkblue; height:100px">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
            <div class="divTitle1"
                style="font-weight:bold; padding:10px 10px 10px 50px; color:#FFF; background-color:Darkblue;">
                TECHSCOPE INSTITUTE OF ENGINEERING AND MANAGEMENT - POLYTECHNIC
                <br />
                <div class="divTitle2" style="color:#F2A709; font-style:italic">LEADING TOWARDS A BRIGHT FUTURE</div>

                <div class="divTitle3">APPROVED BY AICTE <span style="color:#F2A709">||</span> AFFILIATED TO WBSCT &amp;
                    VE &amp; SD

                </div>
            </div>

        </div>

    </div>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">
            <a href="/layout/index.html" style="color:white;">
                <img src="/assets/TIEMP.png" height="50px">
                <p>TIEM-P</p>
            </a>
        </div>
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li class="services">Home
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/about-us.html">About</a>
                        </li>
                        <li>
                            <a href="/layout/authorities.html">Authorities</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Acadamic
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/department.html">Department</a>
                        </li>
                        <li>
                            <a href="/layout/faculty.html">Faculty</a>
                        </li>
                    </ul>
                </li>
                <li class="services">
                    Addimission
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/elegibelity.htmlp">Eligibelity</a>
                        </li>
                        <li>
                            <a href="/layout/addimission-policy.html">Addimission Policy</a>
                        </li>
                        <li>
                            <a href="/layout/fee-structure.html">Fee Structure</a>
                        </li>
                        <li>
                            <a href="https://wbscc.wb.gov.in/">Student Credit Card</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Campus
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/libratories.html">Libratories</a>
                        </li>
                        <li>
                            <a href="/layout/workshop.html">Workshop</a>
                        </li>
                    </ul>
                </li>
                <li class="services">Teanning & Placement
                    <i class="bx bx-chevron-down arrow home-arrow"></i>
                    <ul class="dropdown">
                        <li>
                            <a href="/layout/role-of-tpo.html">Role Of TPO</a>
                        </li>
                        <li>
                            <a href="/layout/internship.html">Internship</a>
                        </li>
                        <li>
                            <a href="/layout/campus-drive.html">Campus Drive</a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#contact-us">Contact us</a>
                </li> -->
                <!-- <li><a href="/">Contact</a></li> -->
            </div>
        </ul>
    </nav>
    <!-- header -->

    <!-- hero-section -->
    <div class="hero-section" data-aos="fade-up">
        <div class="hero-section-text">
            <h1>WELCOME TO TIEM-P</h1>
            <h5>Where Skills Meet Innovation: Forge Your Tech Legacy</h5>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
        offset: 200,
        duration: 800,
    });
    </script>
    <!-- hero-section -->
    <header data-aos="fade-up">
        <h1>
            ELIGIBILITY
            <span style="color:#EDA001">CRITERIA</span>
        </h1>

    
        <hr class="underln">
    </header>
    <div data-aos="fade-up">
        <div class="cont">
            <div class="content">

                <div>
                    <div>
                        <div>
                            <h3><u>ELIGIBILITY CRITERIA FOR JEXPO 2023</u></h3>
                        </div>
                        <ul>
                            <ol>
                                <li>Qualification
                                    For admission to first year of <strong> Diploma Courses</strong>, the candidates
                                    must have passed
                                    Secondary examination (Madhyamik) of the West Bengal Board of Secondary Education or
                                    any other
                                    equivalent Examination from any recognizes board/council/institute.
                                    Candidates appearing in the Secondary (Madhyamik) Examination of the West Bengal
                                    Board of Secondary
                                    Education or its equivalent examination in 2023 from any recognized Board/ Council/
                                    Institute may
                                    also apply. However, submission of pass certificate/ mark sheet at the time of
                                    admission is a must,
                                    failing which candidature is liable to be cancelled even after merit listed in
                                    JEXPO-2023.
                                </li>
                                <br>
                                <li> Age
                                    No upper age limit, but candidate’s <strong> Date of Birth should not be after
                                        01.07.2008.</strong>
                                </li>
                                <br>
                                <li> Citizenship
                                    Must be an Indian Citizen.
                                </li>
                            </ol>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont">
            <h3><u>ELIGIBILITY CRITERIA FOR VOCLET 2023 2ND YEAR ADMISSION</u></h3>
            <div>
                <ul>
                    <ol>
                        <br>
                        <li>
                            Qualification
                            Passed/Appeared* 10+2 examination / H.S (Vocatinal) examination
                            of WBSCT&VE&CD / equivalent examination with Physics/Mathematics/Chemistry/Computer Science/

                            Passed/Appeared* 10+2 examination / H.S. (Vocational) examination of WBSCT&VE&SD /
                            equivalent
                            examination with Physics/ Mathematics/ Chemistry/ Computer Science/ Electronics/ Information
                            Technology/ Biology/ Informatics Practices/ Biotechnology/ Technical Vocational Subject/
                            Agriculture/ Engineering Graphics/ Business Studies/ Entrepreneurship. OR
                            Passed 10th + 2 years ITI (continuous) in annual system or semester system <stong>(Appearing
                                ITI
                                candidates are not eligible)</stong>.</li>
                        * Subject to submission of pass certificate / mark sheet at the time of admission.
                        <br>
                        <li> Age :
                            No age limit.</li>
                        <br>
                        <li> Citizenship
                            Must be an Indian Citizen.</li>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer data-aos="fade-up">
        <div class="content">
            <div class="top">
                <div class="logo">
                    <a href="index.html" style="color:white;">
                        <img src="/assets/TIEMP.png" alt="" height="60px">
                        <p>TIEM-P</p>
                    </a>
                </div>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Address</li>
                    <li class="link_name">Abc Road, Near PQR Bhawan</li>
                    <li class="link_name">CITY:- Asansol</li>
                    <li class="link_name">DIST:- Paschim Burdwan</li>
                    <li class="link_name">STATE:- West Bengal</li>
                </ul>
                <ul class="box">
                    <li class="link_name">Quick Links</li>
                    <li><a href="layout/department.html">Department</a></li>
                    <li><a href="layout/faculty.html">Faculty</a></li>
                    <li><a href="layout/about-us.html">About Us</a></li>
                    <li><a href="layout/campus-drive.html">Campus Drive</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li class="link_name">PHONE NO:- <a href="#">1200-8080-000</a></li>
                    <li class="link_name">EMAIL:- <a href="#">tiemp123@gmail.com</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Other Quick Links</li>
                    <li><a href="layout/addimission-policy.html">Addimission Policy</a></li>
                    <li><a href="/layout/fee-structure.html">Fee Structure</a></li>
                    <li class="link_name">Helpline Number</li>
                    <li><a href="#">0124-90292</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name">Subscribe</li>
                    <li><input type="text" placeholder="Enter your email"></li>
                    <li><input type="button" value="Subscribe"></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright © 2021 <a href="#">CodingLab.</a>All rights
                    reserved</span>
                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script type="module" src="/script.js"></script>
</body>

</html>